@import './variables.css';

.content-container {
    /* overflow-y: auto; */
    width: 100%;
    height: 100%;
    max-width: 1600px;
    padding-right: 2rem;
    padding-left: calc(2rem - 10px);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "content";
}

.content-header-area {
    grid-area: header;
    display: flex;
    width: 100%;
}

.content-content-area {
    grid-area: content;
}

@media (max-width: 800px) {
    .content-container {
        padding: 0 1rem;
    }
}