@import './variables.css';

.video-feed {
    aspect-ratio: 3 / 2;
    width: 100%;
    background-color: #000000;
    position: relative;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-feed img,
.video-feed video,
.video-feed canvas {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.feed-wrapper {
    position: relative;
    width: 100%;
}

.scan-status {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: var(--background-light);
}

.feeds-grid {
    width: 100%;
    aspect-ratio: 3 / 2;
    box-sizing: border-box;
    display: grid;
    gap: 4px;
}

.feeds-grid.one {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.feeds-grid.two {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.feeds-grid.three {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}