@import './variables.css';

.groups-container {
    overflow-y: auto;
    width: 100%;
    max-width: 1600px;  
    padding-right: 2rem;
    padding-left: calc(2rem - 10px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "joined"
        "created";
    gap: 1rem;
}

.groups-header-area {
    grid-area: header;
}

.groups-joined-area {
    grid-area: joined;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.groups-created-area {
    grid-area: created;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 100px;
}

.group-item {
    width: var(--grid-item-width);
    aspect-ratio: 6 / 4;
    padding: 5px;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--background-light);
    overflow: hidden;
    margin-right: 5px;
}

.group-horizontal-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.group-horizontal-list>* {
    flex-shrink: 0;
    flex-grow: 0;
}

.group-horizontal-list::-webkit-scrollbar {
    height: 0px;
}

.group-forms-btn {
    background-color: var(--primary-color);
    font-size: 16px;
    height: 40px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: var(--btn-border-radius);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.groups-section {
    width: 100%;
    height: 100%;
    background-color: var(--background-semi-dark);
    border-radius: 12px;
    padding: 1.5rem 2rem;
}