@import './variables.css';

.group-locations-container {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "header"
        "analytics"
        "locations";
}

.group-header-area {
    grid-area: header;
}

.group-analytics-area {
    grid-area: analytics;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2rem;
}

.group-locations-area {
    grid-area: locations;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 2rem;
    margin-bottom: 50px;
}

.group-locations-header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

.group-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    font-size: 2rem;
}

.group-details {
    font-size: 1rem;
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.group-actions {
    display: flex;
    align-items: end;
    justify-content: end;
    width: fit-content;
}

.group-grid-display {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--grid-item-width));
    gap: 1rem;
}

.group-analytics-item {
    width: 100%;
    aspect-ratio: 4 / 2;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 10px;
    overflow: hidden;
}

.location-item {
    width: 100%;
    aspect-ratio: 6 / 5;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: var(--primary-color);
    /* color: var(--background-dark); */
    border-radius: 10px;
    overflow: hidden;
}

.member-item {
    width: 100%;
    padding: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    border-top: solid 1px rgb(98, 98, 98);
}

.member-profile-div {
    aspect-ratio: 1 / 1;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 10px;
}

.member-profile-div img {
    width: 100%;
    object-fit: contain;
}

.details-action-flex {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .group-locations-header {
        padding: 0;
        padding-top: 1rem;
    }

    .group-info {
        font-size: 1.5rem;
    }

    .group-details {
        font-size: 0.9rem;
    }

    .group-grid-display {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, calc((100% - 1rem) / 2));
        gap: 1rem;
    }

    .group-analytics-item {
        font-size: 0.7rem;
    }

    .location-item {
        font-size: 0.7rem;
    }
}