@import './variables.css';

.main-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    color: var(--background-light);
}

/* OLD CSS */

.logo-div {
    aspect-ratio: 1 / 1;
    width: 70px!important;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo-div img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.logout-btn {
    background-color: var(--page-header-color);
    font-size: 12px;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: var(--btn-border-radius);
}

.logout-btn:hover {
    background-color: var(--error-color);
}

.header-user-div {
    aspect-ratio: 1 / 1;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--btn-border-radius);
    overflow: hidden;
    margin-right: 10px;
}

.header-user-div img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.header-icons {
    opacity: 0.9;
    padding: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100%;
}

.header-icons:hover {
    background-color: var(--secondary-highlight);
}

.icon-dropdown {
    background-color: var(--background-semi-dark);
    color: var(--text-color-dim);
    z-index: 100;
    position: absolute;
    border-radius: 10px;
    padding: 10px 0px;
    overflow-y: auto;
}

.icon-dropdown-item {
    padding: 15px;
    cursor: pointer;
}

.icon-dropdown-item:hover {
    background-color: var(--secondary-highlight);
}

.icon-dropdown-text {
    font-size: 15px;
    margin-left: 10px;
}