@import './variables.css';


.not-found-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-found-container img {
    width: 70%;
    max-width: 500px;
    object-fit: contain;
}